<html lang="ko">
<head>
	<meta charset="utf-8" />
	<!-- mobile viewport -->
	<meta name="viewport" content="width=device-width, initial-zoom=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png"> -->

	<!-- stylesheet -->
	<link type="text/css" rel="stylesheet" href="stylesheets/base.css" />
	<link type="text/css" rel="stylesheet/less" href="stylesheets/index.less" />

	<!-- template -->
	<script type="text/template" id="page-template">
		<div><%= title %></div>
		<div><%= content %></div>
		<div><%= addr %></div>
		<div><%= tel %></div>
	</script>
</head>

<body>
	<div id="bg"></div>
	<div class="article">
		<div class="page previous" data-id="previous"></div>
		<div class="page current" data-id="current"></div>
		<div class="page next" data-id="next"></div>
	</div>
	
	<script src="scripts/lib/CAGE.util.js"></script>
	<script src="scripts/APP/app.js"></script>

	<!-- less -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.4/less.min.js"></script>
</body>
</html>